<div class="container py-5" style="width: 84%;">
    <h3 class="title mb-4 mt-3">Minhas Caronas</h3>
  <div class="row d-flex justify-content-between">
    <% @rides.each do |ride| %>
      <div class="card mb-4">
        <h5 class="card-header"><strong><%= ride.date.strftime('%d/%m/%Y') %></strong></h5>
        <div class="card-body">
          <h5 class="card-title"><%= ride.pickup_address.capitalize %> para <%= ride.route.capitalize %></h5>
          <p class="card-text">Horário: <%= ride.ride_time.strftime('%H:%m') %> no dia <%= ride.date.strftime('%d/%m/%Y') %></p>
          <p class="card-text">Preço: <%= ride.price %></p>
          <p class="card-text">Número de vagas: <%= ride.passengers %></p>
          <p class="card-text">Vago: <%= ride.passengers - ride.matches.size %></p>
          <h5 class="card-title">Caroneiros:</h5>
          <div class="list-group mb-5">
            <% ride.matches.each do |mtch| %>
              <%= content_tag :div, id: dom_id(mtch) do %>
              <div class="list-group-item list-group-item-action" aria-current="true">
                <div id="match-<%=mtch.id%>" class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1"><%= mtch.user.first_name %> <%= mtch.user.first_name%></h5>
                  <small><%= mtch.user.age%> anos de idade</small>
                </div>
                <p class="mb-1">Identificação do Pix: <%= mtch.transaction_pix%></p>
                <%unless mtch.finished %>
                  <p class="mb-1"><%= button_to "Confirmar!", schedule_path(mtch), method: :patch, class: "btn btn-primary", data: { 'turbo' => "false" } %></p>
                <% else %>
                  <span class="badge rounded-pill bg-success">Confirmado</span>
                <% end %>
                <small>Contato: <%= mtch.user.email%></small>
              </div>
              <% end %>
            <%end%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
