<div class="navbar fixed-top navbar-expand-sm navbar-light navbar-lewagon">
  <div class="d-flex col-2 pt-3 px-2">
   <div>
    <%= link_to rides_path, class: "navbar-brand" do %>
      <i class="fa-solid fa-car"></i>
    <% end %>
    </div>
    <div class="logo">
      <p>Le WaCar</b>
    </div>
  </div>

  <div class="container-fluid justify-content-end">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Todas as caronas", rides_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Minhas reservas", reservations_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Minhas caronas", schedules_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Nova carona", new_ride_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= cl_image_tag current_user.avatar.key, crop: :thumb, gravity: :face, class: "avatar-sm dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Meu Perfil", profile_path(current_user), class: "dropdown-item" %>
              <%= link_to "Sair", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Faça seu cadastro", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Entrar", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="mt-5">
  <%= render "shared/banner" %>
</div>
