<%= simple_form_for(ride) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :route, label: 'Destino',
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.date_field :date, label: 'Data',
                  required: true%>
      <%= f.input :price, label: 'Valor da corrida',
                  required: true%>
      <%= f.input :pickup_address, label: 'Ponto de partida',
                  required: true%>
      <%= f.time_field :time, label: 'Horário',
                  required: true%>
    </div>

    <div class="form-actions mt-4">
      <%= f.button :submit, "Cadastrar", class:"btn btn-primary btn-sm" %>
    </div>
  <% end %>
