<div class="container" style="max-width: 50%;">

  <div class="title my-4">
    <h2>Cadastre-se!</h2>
  </div>

  <%= simple_form_for @ride do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :pickup_address, label: 'Ponto de partida',
                  required: true%>
      <%= f.input :route, label: 'Ponto de chegada',
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "" }%>
      <%= f.number_field :passengers, label: 'Quantidade de Passageiros',
                  required: true, wrapper_html: { class: 'passengers' }%>
      <%= f.date_field :date,
                  required: true%>
      <%= f.input :price,
                  required: true%>
      <%= f.time_field :time,
                  required: true%>
    </div>

    <div class="d-grid form-actions mt-4">
      <%= f.button :submit, "Cadastrar", class: "btn btn-primary btn-sm" %>
    </div>
  <% end %>

</div>
