<div class="card">
  <div class="card-header">
    <i class="fa-regular fa-map"></i> <%= @ride.route %> com <strong><%= @ride.user.first_name %></strong>
  </div>
  <div class="card-body">
    <p class="card-title"><i class="fa-regular fa-calendar"></i> <%= @ride.date %></p>
    <p class="card-text"><i class="fa-solid fa-location-dot"></i> <%= @ride.pickup_address %></li></p>
    <div class="mt-5">
      <a href="#" class="btn btn-primary">Caronas deste motorista</a>
    </div>
  </div>
</div>

<div class="mt-5">
  <%= link_to "Ver outras caronas", rides_path, class: "btn btn-primary" %>
</div>
