<div class="container text-center mt-5">
  <div class="row d-flex">

    <div class="col-8">
      <div class="card shadow">
        <div class="card-header">
          <i class="fa-regular fa-map"></i> <%= @ride.route %> com <strong><%= @ride.user.first_name %></strong>
        </div>

        <div class="container d-flex align-items-center flex-column">
          <div class="container d-flex align-items-center flex-row">

            <div class="rounded mt-3" style="width: 50%; height: 300px;"
              data-controller="map"
              data-map-markers-value="<%= @markers.to_json %>"
              data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
            <div class="d-flex align-items-center flex-column">
              <div class="card-body mt-2">
                <h4 class="card-title"><i class="fa-regular fa-calendar"></i> <%= @ride.date %></h4>
              </div>
              <div>
                <%= cl_image_tag @ride.user.avatar.key, crop: :thumb, gravity: :face, class: "avatar" %><p><strong><%= @ride.user.first_name %></strong> está oferecendo esta carona</p>
              </div>
              <div class="value-box rounded mt-2 mb-3">
                <i class="fa-solid fa-dollar-sign"></i> <strong><%= @ride.price %></strong>
              </div>
              <div>
                <p style="width: 90%;"><i class="fa-solid fa-location-dot"></i> Ponto de encontro em <strong><%= @ride.pickup_address %></strong> às <strong><%= @ride.ride_time.strftime('%H:%M') %></strong></li></p>
              </div>
            </div>
          </div>

          <div class="availability-box mt-3">
            <li class="list-group-item"><i class="fa-solid fa-user"></i> <%= @ride.passengers %> assentos disponíveis para esta corrida.</li>
          </div>

          <div class="d-grid mt-3 mb-3">
            <% if policy(@ride).edit? == false %>
              <%= link_to "Reservar!", new_ride_match_path(@ride), class: "btn btn-success" unless current_user.id == @ride.user.id %>
            <% end %>
          </div>

        </div>

      </div>

      <div>

        <div class="d-flex justify-content-end mt-5">
          <% if policy(@ride).edit? %>
          <%= link_to "Edit this ride", edit_ride_path(@ride), class: "btn btn-warning btn-sm" %>  |
          <%= button_to "Destroy this ride", @ride, method: :delete, class: "btn btn-danger btn-sm" %>
          <% end %>
        </div>

        <div class="d-flex justify-content-start mt-5">
          <%= link_to "Ver outras caronas", rides_path, class: "btn btn-primary" %>
        </div>

      </div>
    </div>

    <div class="col-4">
      <div class="card text-center">
        <div class="card-header mb-3">
          Veja o que estão falando sobre <strong><%= @ride.user.first_name %></strong>
        </div>
      </div>
      <%= render "reviews" %>
    </div>
  </div>
</div>
